*{
    font-family: "Mulish", sans-serif;
}

.sec-1{
    display: flex;
    gap: 24rem;
    margin-left: 16.88rem;
}
.img-1{
    display: flex;

    
}
.img-2{
    position: relative; top: 1.07rem;
    width: 3rem;
    height: 3.5rem;

}
h3{
    margin-left: 1.6rem;
}

.list-1{
    display: flex;
    position: relative; top: 1.2rem;
   
   
}

nav li{
    list-style: none;
    margin-right: 2.75rem;
}
nav a{
    text-decoration: none;
    color: #424247;
}
.super{
    width: 15.6rem;
    height: 15.7rem;
    position: relative; top: -0.31rem;
    font-size: 1.9rem;
    
    
}
.home{
    color: #FF5400;
}
.headimg{
    
    text-align: center;
    position: relative; top: -13.75rem;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0, 0, 0, 0)), url('../Images/Group\ 13\ \(1\)\ \(1\).png'); 
    /* width: 50%; */
     width: 74.125rem; 
    height: 31.25rem;
    margin-left: 18.75rem;
    border-radius: 1.6rem;
    color: #fff;
    
}
.headimg-1{
    color: #FFF;
font-family: Mulish;
font-size: 4rem;

font-weight: 800;
position: relative; top: 8.125rem;


}
.headimg-2{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 1rem;

font-weight: 400;
position: relative; top: 7.5rem;


}
.form-1{
    position: relative; top: 9.375rem;
    width: 50rem;
    height: 3.125rem;
   background-color: rgb(255, 255, 255, 0.5);
    padding-top: 3.125rem;
    position: relative; left: 11.6rem;
    
}
.try{
    background-color: #FF5400;
    
}

@media screen and (max-width: 600px) {

    
}

